@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@400;500;600;700&family=Teko:wght@300;400;500;600;700&display=swap');

// ROOT
$primarySolid: #361173;
$primaryGradient:linear-gradient(125.9deg, #361173 14.87%, #170533 108.64%);
$secondarySolid: #72FA19;
$fontDark: #20054B; 

$shadow1: -10px 15px 25px 0px
  rgba(
    $color: #170e1b,
    $alpha: 0.6,
  );


  $shadow2: -3px 5px 25px 0px
  rgba(
    $color: #170e1b,
    $alpha: 0.1,
  );

:root{
    font-size: 12px;
}

*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

html{
    scroll-behavior: smooth;
  }

body{
    font-family:'Hind', 'Open Sans', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 150%;
    max-width: 100vw;
    overflow-x: hidden;
}

p{
  line-height: 160%;
}

h1,h2,h3,h4{
    font-family: 'Teko', Helvetica, sans-serif;
    line-height: 97%;
}

h2{
  font-size: 3rem;
}

.spacer{
    margin: 1em 0;
}

.align-top{
  align-items: flex-start !important;
}

.hide-controls{
  pointer-events: none !important;
}

.flex-container-row{
    display: flex;
    gap: .5em;
    flex-wrap: wrap;
  }

  .button{
    display: flex;
    box-shadow: $shadow1;
    align-items: center;
    justify-content: center;
    padding: .5em 1em;
    border-radius: .5em;
    text-transform: capitalize;
    transition: all .3s;
    font-weight: bold;
    text-decoration: none;
    
    &:hover{
        transform: scale(.9);
        box-shadow: none !important;
    }

    &:focus{
        border: 2px solid $secondarySolid;
    }

    .icon{
        margin-right: .5em;
    }

    &.second{
      border: 2px solid $secondarySolid;
      color:$secondarySolid !important;
      background-color: rgba($color: #000000, $alpha: 0) !important;
    }
}

// LAPTOP
@media screen and (min-width:991px){
    :root{
        font-size: 14px;
    }
}

// DESKTOP
@media screen and (min-width:1297px){
  .container{
      max-width:1920px;
      margin: 0 auto;
  }
}

video{
  width: 100%;
}

.project-page{
  padding: 0 2em !important;
  text-align: left;
  
  img{
      width: 100%;
      border-radius: .4em;
  }

  video{
      border-radius: .4em;
  }

  h1{
      font-size: 3rem;
  }

  .project-texts{
      padding: 0;
      margin-bottom: 2em;
  }
  .project-section{
      padding: 4em 0em;
  }
}

// IPAD
@media screen and (min-width:673px){
  .grid-container-halfsies{
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 1em;
      align-items: center;
  }
  .grid-container{
      display: grid;
      grid-template-columns: 1.5fr 1fr;
      gap: 1em;
      align-items: center;
  }
}

// LAPTOP
@media screen and (min-width:991px){
  .project-page{
      padding: 0 8em !important;
  
      h1{
          font-size: 5rem;
      }
  
      .project-texts{
          padding: 2em;
          padding-left: 0;
          margin-bottom: 0;
      }
      .project-section{
          padding: 2em;
      }
  }
}

.grid-container-four{
  display: grid;
  grid-template-columns: 1fr 1fr;
}


// IPAD
@media screen and (min-width:673px){
  .grid-container-four{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      gap: 1em;
      align-items: center;
  }
}

// IPAD
@media screen and (min-width:673px){
  .grid-container-three{
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1em;
      align-items: center;
  }
}

.small-image{
  width: 60% !important;
  margin: 0 auto;
}
$primarySolid: #361173;
$primaryGradient:linear-gradient(113.72deg, #180635 57.97%, #361173 107.99%);
$secondarySolid: #72FA19;
$fontDark: #20054B; 

$shadow1: -10px 15px 25px 0px
  rgba(
    $color: #170e1b,
    $alpha: 0.6,
  );


  $shadow2: -3px 5px 25px 0px
  rgba(
    $color: #170e1b,
    $alpha: 0.1,
  );

.stokware{
    background-color: #b8f3bf !important;
    color: #505050 !important;
    h1{
        color: #43B14B !important;
    }
}
.property{
    background-image: linear-gradient(122.27deg, #FFFFFF 0.53%, #F6F8FF 26.71%, #CAD7FF 114.16%) !important;
    color: #1a191d !important;
    h1{
        color: #4974F3 !important;
    }
}

.rfidiom{
    background-image: linear-gradient(143.41deg, #005567 5.49%, #0C4160 93.58%) !important;
    color: white !important;
    h1{
        color: #1CF9F9 !important;
    }
    .project-image{
        padding: 2em;
    }
}

.aspire{
   background-image:linear-gradient(128.51deg, #2B0537 28.18%, #4D1D5C 85.96%) !important;
    color: white !important;
    h1{
        color: #F5DF1A !important;
    }
    .project-image{
        margin-top: 4em !important;
    }
}

.salus{
  background-color:#ffffff !important;
    color: #B5281D !important;
    h1{
        color: #E85422 !important;
    }
    .project-image{
        margin-right: -2em !important;
    }
}

.nabati{
  background-color:#ebe3eb !important;
  padding: 4em 0 4em 0;
    color: #a0191f !important;
    h1{
        color: #ed1b24 !important;
    }
    .project-image{
        margin-right: 0 !important;
    }
}

.storeel{
  background-color:#529df4 !important;
    color: #ffffff !important;
    h1{
        color: #FEC503 !important;
    }
    .project-image{
        margin-right: 2em !important;
    }
}

.xmas{
    background-image: linear-gradient(246.77deg, #FFFFFF -35.66%, #FFE2E2 94.85%);;
      color: #A30118 !important;
      h1{
          color: #E53E56 !important;
      }
  }

.project, .project-page{
    overflow: hidden;
    display: grid;
    grid-template-columns: 1fr;
    padding-bottom: 0;
    .project-image{
        height: fit-content;
        display: flex;
        align-items: flex-end;
        img{
            width: 100%;
        }
    }
    .project-texts{
        padding: 2em;
        padding-top: 4em;
        text-align: left;
        height: fit-content;
        .title{
            font-size: 3rem;
            font-weight: normal;
            font-weight: bold;
        }

        .project-subtitle{
            padding: 0 3em;
            padding-right: 0;
            margin-top: 1em;

            &.stokware-subtitle{
                border-left: 4px solid #43B14B;
            }
            &.aspire-subtitle{
                border-left: 4px solid #F5DF1A;
            }
            &.salus-subtitle{
                border-left: 4px solid #E85422;
            }
            &.property-subtitle{
                border-left: 4px solid #17E89A;
            }
            &.xmas-subtitle{
                border-left: 4px solid #E53E56;
            }
            &.rfidiom-subtitle{
                border-left: 4px solid #1CF9F9;
            }
            &.storeel-subtitle{
                border-left: 4px solid #3fe286;
            }
            &.nabati-subtitle{
                border-left: 4px solid #0f9347;
            }
        }
        .project-jobs{
            padding: 1em;
            margin-top: 1em;
            &.stokware-jobs{
                background-color: #83e08a;
                color: #134E18;
            }
            &.aspire-jobs{
                background-color: #5D2072;
                color: white;
            }
            &.salus-jobs{
                background-color: #CFE6EF;
                color: #043344;
            }
            &.storeel-jobs{
                background-color: #66f1a2;
                color: #023505;
            }
            &.property-jobs{
                background-color: #BECEFF;
                color: #1E4BCE;
            }
            &.xmas-jobs{
                background-color: #FFAFBA;
                color: #A80F26;
            }
            &.rfidiom-jobs{
                background-color: #B1F2FE;
                color: #054D65;
            }
            &.nabati-jobs{
                background-color: #b6eccc;
                color: #086f33;
            }
        }
        .button{
            margin-top: 2em;
            flex-grow: 1;
            box-shadow: none;
            &.stokware-button{
                background-color: #43B14B;
                color: white;
            }
            &.aspire-button{
                background-color: #F5DF1A;
                color: #20054B;
            }
            &.salus-button{
                background-color: #2B9EC9;
                color: white;
            }
            &.property-button{
                background-color: #17E89A;
                color: white;
            }
            &.xmas-button{
                background-color: #E53E56;
                color: white;
            }
            &.rfidiom-button{
                background-color: #1CF9F9;
                color: #054D65;
            }
            &.nabati-button{
                background-color: #ed1b24;
                color: #ffff;
            }
            &.storeel-button{
                background-color: #FEC503;
                color: white;
            }
            &.second{
              flex-grow: 0;
              &.stokware-button{
                background-color: none;
                color: #43B14B !important;
                border: 2px solid #43B14B;
            }
            &.aspire-button{
                background-color: none;
                color: #F5DF1A !important;
                border: 2px solid #F5DF1A;
            }
            &.salus-button{
                background-color: none;
                color: #2B9EC9 !important;
                border: 2px solid #2B9EC9;
            }
            &.rfidiom-button{
                background-color: none;
                color: #1CF9F9 !important;
                border: 2px solid #1CF9F9;
            }
            &.nabati-button{
                background-color: none;
                color: #ed1b24 !important;
                border: 2px solid #ed1b24;
            }
            &.storeel-button{
                background-color: none;
                color: #FEC503 !important;
                border: 2px solid #FEC503;
            }
        }
    }
 }
}

// IPAD
@media screen and (min-width:673px){
    .project{
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        min-height: 20vh;
        align-items: center;
       .project-texts{
         padding: 3em;
         padding-right: 0;
         padding-left: 6em;
       }
    }
}

// LAPTOP
@media screen and (min-width:991px){
    .project{
        grid-template-columns: 1.2fr 1fr;
        &.salus{
            padding-top: 3em;
        }
        .project-texts{
            padding: 5em;
            padding-left: 8em;
            padding-right: 3em;
            padding-top: 0;
        .title{
            font-size: 5rem;
        }
        }
    }
}
