$shadow1: -8px 10px 25px 0px
  rgba(
    $color: #000000,
    $alpha: 0.4,
  );

$shadow2:0 -1px 2px rgba(0,0,0,0.05), 
0 -2px 3px rgba(0,0,0,0.05), 
0 -4px 4px rgba(0,0,0,0.05), 
0 -8px 8px rgba(0,0,0,0.05),
0 -16px 16px rgba(0,0,0,0.05);

.footer{
    padding: 2em;
    padding-bottom: 0;
    color: white;
    text-align: left;
    background-image: linear-gradient(125.9deg, #361173 14.87%, #170533 108.64%);
    box-shadow: $shadow2;

    .top-footer{
        display: grid;
        grid-template-columns: 1fr;
        gap: 2em;
        .contacts{
            width: 60%;
            &>img{
                width: 30%;
                margin-bottom: 1em;
            }

            hr{
                height: 4px;
                background-color: #72FA19;
                width: 40%;
                margin: 2em 0;
            }

            .socials{
                margin-top: 1em;
                a{
                    img{
                        max-width: 24px;
                    }
                    text-decoration: none;
                    display: flex;
                    align-items: center;
                    color: white;
                    gap: .5em;
                    margin-top: 1em;

                    &:hover{
                        color: #72FA19;
                    }
                }
            }
        }

        .posts{
            .posts-container{
                margin-top: 1em;
                display:grid;
                grid-template-columns: 1fr 1fr;
                gap: .5em;
                .post{
                    color: white;
                    text-decoration: none;
                    
                    &:hover{
                        img{
                            transform: scale(.9);
                            box-shadow: none;
                        }
                        p{
                            color: #72FA19;
                            opacity: 1;
                        }
                    }
                    img{
                        width: 100%;
                        border-radius: .4em;
                        transition: all .2s;
                        box-shadow: $shadow1;
                    }
                    p{
                        opacity: .5;
                    }
                }
            }
        }
    }

    .bottom-footer{
        text-align: center;
        color: white;
        padding: 3em 0em 1em 0em;
        a{
            color: #72FA19;
            text-decoration: none;
            &:hover{
                text-decoration: underline;
            }
        }
    }
}

// IPAD
@media screen and (min-width:673px){
   .footer{
       padding: 4em 6em 0 6em;
       .top-footer{
           grid-template-columns: 1.3fr .7fr !important;
      }
   }
}

// LAPTOP
@media screen and (min-width:991px){
    .footer{
        padding: 4em 8em 0 8em;
    
        .top-footer{
            grid-template-columns: 1.3fr .7fr;
            .contacts{
                width: 60%;
                &>img{
                    width: 30%;
                    margin-bottom: 1em;
                }
    
    
                .socials{
                    a{
                        img{
                            max-width: 24px;
                        }
                    }
                }
            }
        }
    
        .bottom-footer{
            text-align: left;
            padding: 3em 2em 1em 0em;
        }
    }
}