$shadow1: 0 1px 1px rgba(0,0,5,0.12), 
0 2px 2px rgba(0,0,5,0.12), 
0 4px 4px rgba(0,0,5,0.12), 
0 8px 8px rgba(0,0,5,0.12),
0 16px 16px rgba(0,0,5,0.12);
.testimoni{
    background-color: #1B0637;
    color: white;
    text-align: left;
    padding: 2em;
    width: 95%;
    margin: 0 auto;
    
        border-radius: .5em;
    .grid-container-halfsies{
        display: grid;
        gap: 1em;
        .testimoni-texts{
            padding: 1em;
            height: 100%;
            display: flex;
            flex-direction: column;
            border-radius: 1em;
            transition: all .3s;
            .testimonial-subheadline{
                margin-bottom: 1em;
            }
            .testimoni-subtitle{
                display: flex;
                
                margin-top: auto;
                text-align: right;
                font-weight: bold;
                justify-content: flex-end;
                align-items: center;
                gap: 1em;
                .position{
                    color: #72FA19;
                    font-size: 1.5rem;
                }
                .avatar{
                    border-radius: 50%;
                    width: 15%;
                }
            }
            
            &:hover{
                background-color: #170530;
                box-shadow: $shadow1;
            }
        }

    }
    
}

// IPAD
@media screen and (min-width:673px){
    .testimoni{
        padding-right: 4em;
        padding-left: 4em;
        width: 90%;
        .grid-container-halfsies{
            .testimoni-texts{
                padding: 2em;
            }
        }
        
    }
}

// LAPTOP
@media screen and (min-width:991px){
    .testimoni{
        padding-right: 6em;
        padding-left: 4em;
        .grid-container-halfsies{
            .testimoni-texts{
                margin-bottom: 0;
            }
        }
        
    }
}